<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="stylesheets/foundation.min.css" />
    <script src="javascripts/vendor/modernizr.js"></script>

    <style>
      body{
        background-image:url("images/content/background.jpg");
      }
    </style>
    
  </head>
  
  <style>
  .flipper{
    border:1px #e3e3e3 solid;
  }

  .back{
    background-color: #e3e3e3;
  }

  #displayPic{
    height:400px;
  }
  </style>
  
  <body>
  
  <nav class="top-bar " data-topbar>
        <!-- Left Naviagation Section -->
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">Vicinity <strong>Explorer</strong>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
    </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                    <a href="/publisher">Publisher</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/about">About Us</a>
                </li>

            </ul>
    </section>
    </nav>
    
    <div class="row">

      <h2>What is Vicinity Explorer?</h2>
      <p>
        Vicinity Explorer is a free app that helps you and your friends make the most of where you are. And, when you're looking for inspiration for what to do next, we'll give you personalized recommendations and deals based on where you, your friends, and people with your tastes have been.
      </p>
      <p>
          Whether you're setting off on a trip, coordinating a night out with friends, or trying to pick out the best dish at your local restaurant, Vicinity Explorer is the perfect companion.</br>
      </p>
      <p>
         <ul>
          Vicinity Explorer by the numbers (last updated January, 2014)
          <li>Community: Over 5000 people in India</li>
          <li>Over 500 check-ins, with thousands more every day</li>
          <li>Businesses: Over 100 advertisements every day</li>
        </ul>
      </p>

      <h2>What's Vicinity Explorer built on?</h2>
      <p>
        We've designed our entire software stack to be as flexible and scalable as possible. It's allowed us to go from a few hundred users to tens of thousands and also to easily add more amazing engineers and get them contributing right away.
      </p>
      <p>
        Then we get to the fun part. Moving up the stack, the live site data is stored in MongoDB. There is a bit more complexity if you dig deeper, but that's the heart of it.
      </p>
      <p>
        Almost all of the code for the web site, API, and batch processing is written in HTML and CSS. The dynamic content on the web site is written in javascript with a mix of jQuery, Backbone.js for object models and Foundation.
      </p>
      <p>
        And we're constantly pushing the limits and trying new things. Want to come join us? We're looking for world-class engineers who want to do amazing things.
      </p>
      <p>
        You can learn more about the technology we use on our <a href="https://github.com/">github</a>.
       </p>
      

      <h2>So is it 'check-in' or 'check in'?</h2>
      <p>
        It's both! When you use it as a verb, it's 'check in.' (For example, "Are you going to check in here? They have a free massage Special.") 'Check-in' is the noun form. (For instance, "That was my most amazing check-in ever, I can't believe I got a free massage!") And never use checkin. Every time you do, we cry on the inside.
      </p>

      <h2>Vision</h2>
      <p>
        Because we want to build a better <b>Location Based Services</b> App. Because we believe we can.
      </p>

    </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
