<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="stylesheets/foundation.min.css" />
    <script src="javascripts/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">

    

  </head>
  
  <style>
  .flipper{
    border:1px #e3e3e3 solid;
  }

  .back{
    background-color: #e3e3e3;
  }

  #displayPic{
    height:400px;
  }

  </style>
  
  <body>
  
  <nav class="top-bar " data-topbar>
        <!-- Left Naviagation Section -->
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">Vicinity <strong>Explorer</strong>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
    </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                    <a href="/publisher">Publisher</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/about">About Us</a>
                </li>

            </ul>
    </section>
    </nav>
    
    

    <div class="row">
      <div class="large-4 small-12 medium-6 columns">
    
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img  id="displayPic" src="images/content/shreyas.jpg">
            </div>
            <div class="back">
              <p align="center">
                <br><br><br>
                <img src="images/content/phone.png"> +91 9920955192<br><br>
                <img src="images/content/email.png"> shreyasrane92@gmail.com<br><br>
                <img src="images/content/facebook.png"> <a href="https://www.facebook.com/max2buzz"> Shreyas</a><br><br>
                <img src="images/content/twitter.png"> @gregster
              </p>
            </div>
          </div>
        </div>

        <h4>Shreyas Rane</h4>
        <h5>Frontend Designer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>



      <div class="large-4 small-12 medium-6 columns">

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img id="displayPic" src="images/content/aniket.jpg">
            </div>
            <div class="back">
              <p align="center">
                <br><br><br>
                <img src="images/content/phone.png"> +91 9867976335<br><br>
                <img src="images/content/email.png"> aniketsakinala92@gmail.com<br><br>
                <img src="images/content/facebook.png"><a href="https://www.facebook.com/aniket.sakinala"> Aniket</a><br><br>
                <img src="images/content/twitter.png"> @dania.gerhardt
              </p>
            </div>
          </div>
        </div>

        <h4>Aniket Sakinala</h4>
        <h5>Database Handler</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>

      <div class="large-4 small-12 medium-6 columns">

        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img id="displayPic" src="images/content/sudeep.jpg">
            </div>
            <div class="back">
              <p align="center">
                <br><br><br>
                <img src="images/content/phone.png"> +91 9769022270<br><br>
                <img src="images/content/email.png"> sudeepmore92@gmail.com<br><br>
                <img src="images/content/facebook.png"><a href="https://www.facebook.com/sudeep.more.7"> Sudeep</a><br><br>
                <img src="images/content/twitter.png"> @schnitzel
              </p>
            </div>
          </div>
        </div>

          <h4>Sudeep More</h4>
          <h5>Backend Designer</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
      </div>
    </div>
    
    <script src="javascripts/vendor/jquery.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
