<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vicinity Explorer</title>
  <link href="/stylesheets/toastr.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <!-- <link rel="stylesheet" href="/stylesheets/indexPageS.css"> -->

  
</head>

<body>
    
  <nav class="top-bar " data-topbar>
        <!-- Left Naviagation Section -->
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">Vicinity <strong>Explorer</strong>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
    </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                    <a href="/publisher">Publisher</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>

            </ul>
    </section>
    </nav>
    
    <div class="major">
      <div class="row">
        <center>
            <h1>Welcome To Vicinity Explorer</h1>
        </center>
      </div>
      <div class="row">
      <div class="large-7 medium-7 small-12 columns">
        <div class="panel">
          <h3>Vicinity Explorer gets you in touch with the latest events happening in your vicinity</h2>
          <h4>Not A member yet? Register Yourself</h3>
          <p><a href="/signup" class="button">SIGN UP</a></p>
        </div>
      </div>
      <div class="large-4 medium-5 small-12 columns">
        <div class="formSignIN panel">
          <form action="/user/login" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username">
            <br>
            <label for="username">Password</label>
            <input type="password" name="password">
            <br>
            <center><input type="submit" value="LOG IN" class="button"></center>
          </form>
          <div class="error">
            {{error}}
          </div>
        </div>
      </div>
      </div>
    </div>
  
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/foundation.min.js"></script>
  <script src="/javascripts/toastr.min.js"></script>
  <script>
  (function(){
    toastr.options.closeButton = true;
    var err = "{{error}}"
    console.log(err);
    if (err==="") {
      // toastr.success('Welcome', 'Login Or Register');
    }
    else{
      toastr.error("","{{error}}");  
    }
  })();
  </script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>