<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vicinity Explorer</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
</head>
<body>

    <div class="row">
        <center>
            <h1>Welcome To Vicinity Explorer</h1>
        </center>
    </div>
    
    <div class="row">
      <div class="large-8 medium-7 small-12 columns">
        <div class="panel">
          <h2>Vicinity Explorer gets you in touch with the latest events happening in your vicinity</h2>
          <h3>Not A member yet? Register Yourself</h3>
          <p><a href="/signup" class="button">Sign Up</a></p>
        </div>
      </div>
      <div class="large-4 medium-5 small-12 columns">
        <div class="formSignIN panel">
          <form action="/user/login">
            <label for="username">Username</label>
            <input type="text" name="username">
            <br>
            <label for="username">Password</label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Log In" class="button">
          </form>
        </div>
      </div>
    </div>

    
    
    
    
    
    
    

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>