<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{publisher}} | Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link href="/stylesheets/toastr.min.css" rel="stylesheet"/>
</head>
<body>
 <body>
    <nav class="top-bar " data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">Vicinity
                        <strong>Explorer</strong>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
		</ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li>
                    <a href="#">{{publisher}}</a>
                </li>
                <li>
                    <a href="#">Trending</a>
                </li>
                <li>
                    <a href="/publisher/logout">Logout</a>
                </li>

            </ul>
		</section>
    </nav>

    <div class="title">
        <div class="columns large-12 small-12 medium-12">
            <h3>Title</h3>
            <input type="text" name="title" placeholder="POST TITLE">
        </div>
    </div>
    <div class="contents">
        <div class="type columns large-6">
            <p>Markdown</p>
            <textarea name="inputMark" id="text-input" cols="70" rows="10">
                
            </textarea>
        </div>
        <div class="preview columns large-6">
            <p>Rendered HTML</p>
            <div class="render">
                
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/marked.js"></script>
    <script>
    
    
    $("#text-input").on('input', function(){
        var value = $("#text-input").val();
        var toSHow = marked(value);
        $(".render").html(toSHow);    
      
    });
      
    </script>
    

	
</body>
</html>