<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{publisher}} | Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link href="/stylesheets/toastr.min.css" rel="stylesheet"/>

    <style>
      body{
        background-image:url("images/content/background.jpg");
      }
    </style>

</head>

<body>
    
 <body>
    <nav class="top-bar " data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">Vicinity
                        <strong>Explorer</strong>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
		</ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li>
                    <a href="#">{{publisher}}</a>
                </li>
                <li>
                    <a href="/publisher/p/new">Create</a>
                </li>
                <li>
                    <a href="#">Trending</a>
                </li>
                <li>
                    <a href="/publisher/logout">Logout</a>
                </li>

            </ul>
		</section>
    </nav>

    <div class="create">
        <a href="/publisher/p/new" class="button">Create A New Post</a>
    </div>
    

    <div class="posts">
        <div class="postsHolder clearfix">
    
    
        {% for post in posts %}
        {% if loop.first %}<div class="main">{% endif %}
                
                    <div class="postBox small-12 medium-12 large-12 columns">
                        <a href="/user/p/{{post._id.toString()}}"><h2 class="title"><center>{{post.title|title}}</center></h2></a>
                        <div class="render">{{post.body}}</div>
                        <!-- <p class="lead">By {{post.publishedBy}}</p> -->
                        <p class="datePublished">
                            {{post.publishedAt|date('l, d M Y g:i A')}}
                        </p>
                    </div>
                
        {% if loop.last %}</div>{% endif %}
    {% endfor %}
    </div>
    </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/foundation/foundation.js"></script>
    <script src="/javascripts/foundation/foundation.reveal.js"></script>
    <script src="/javascripts/marked.js"></script>
    <script src="/javascripts/toastr.min.js"></script>
    <script>
    (function(){
        $('.render').each(function(index,el) {
            var curr = $(el).html().trim();
            var newV = marked(curr);
            $(el).html(newV);
            var newFinal = $(el).text().substring(0,50);
            $(el).html('<p class="lead">'+newFinal+" ... </p>");            
        });
    })();
    </script>
</body>
</html>