<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{user}} | Books</title>
  <link href="/stylesheets/toastr.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-tagsinput.css" />
  <style>

    .bookImage{
      width: 80%;
      height: 480px;
      border: 1px dashed #e3e3e3;
    }

    .bookImage img{
      background-color: gray;
      height: 480px;
       
    }

  </style>
</head>
<body>
  <nav class="top-bar " data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">Vicinity <strong>Explorer</strong>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
    </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li>
                    <a href="/user">{{user}}</a>
                </li>
                <li>
                    <a href="/user/books">Books</a>
                </li>
                <li>
                    <a href="#">Trending</a>
                </li>
                <li>
                    <a href="/user/logout">Logout</a>
                </li>

            </ul>
    </section>
    </nav>
	  
    <div class="row bookAdd">
      <div class="info large-6 columns">
        
        <form action="/postUserBook" enctype="multipart/form-data" method="POST">
          <div class="large-12 columns">
          <label for="title">Title</label>
          <input type="text" name="title" required>
          </div>

          <div class="large-12 columns">
          <label for="author">Author</label>
          <input type="text" name="author" required>
          </div>  
          
          <div class="large-12 columns">
          <label for="amazonLink">Amazon Link</label>
          <input type="text" name="amazon">
          </div>
          
          <div class="large-12 columns">
          <label for="describe">Description</label>
          <textarea name="describe" id="describe" cols="70" rows="70" placeholder="Something About This Book and Something that you may want in return"></textarea>
          </div>
          
          <div class="large-12 columns">
          <label for="imageLink">Link For Display Image</label>  
          <input type="url" id="imageLink" name="imageLink" placeholder="Link For A Image">
          </div>   
          
          <div class="large-12 columns">  
          <label for="addPhoto">Add A Photo</label>
          <input type="file" name="bookImg" accept="image/*" capture="camera" required>
          </div>
          
          <div class="large-12 columns">
          <label for="tags">Tags</label>
          <input type="text" name="tags" id="tags" data-role="tagsinput" placeholder="Add Tags">
          </div>
          
          <div class="large-12 columns">
          <label for="tags">Books You Want to trade With</label>
          <input type="text" name="intended" id="intended" data-role="tagsinput" placeholder="Add Books">
          </div>
           
          <div class="large-12 columns">
            <center><button type="submit">Submit</button></center>
          </div>
          
        </form>

          
        
      </div>
      <div class="large-6 columns">
      <div class="bookImage">
        
      </div>
      </div>
    </div>



	  <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap-tagsinput.min.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
  	<script src="/javascripts/toastr.min.js"></script>
  	<script>
        $(document).foundation();
    </script>
    <script>
    $('#imageLink').on('input', function() {
      var link = $('#imageLink').val();
      if(link==""){
        $('.bookImage').html("");
      }
      else{
        $('.bookImage').html("");
        var img = $('<center><img src="'+ link +'" /></center>').hide();
        img.appendTo('.bookImage').fadeIn(400);
      }
    });


    </script>
</body>