<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vicinity Explorer | Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
  <link href="/stylesheets/toastr.min.css" rel="stylesheet"/>
  
  <style>
    

    .postHeader{
        margin-top: 2vh;
        display: table;
        height: 300px;
        width: 100%;
        text-align: center;
        background: #E3EDF3;
        background:url(images/content/{{loc}}/main.jpg);
        color: rgba(0,0,0,0.9);
          
    }

    .vertical{
        display: table-cell;
        vertical-align: bottom;

   } 
    


  </style>
</head>
<body>
 <body>
    <nav class="top-bar " data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">Vicinity
                        <strong>Explorer</strong>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
		</ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li>
                    <a href="#">{{user}}</a>
                </li>
                <li>
                    <a href="/user">Events</a>
                </li>
                <li>
                    <a href="#">Books</a>
                </li>
                <li>
                    <a href="#">Trending</a>
                </li>
                <li>
                    <a href="/user/logout">Logout</a>
                </li>
            </ul>
		</section>
    </nav>
    
    <div class="row">
    
    
    
    <div class="postsHolder clearfix">
    
    
        <div class="main">
            <div class="postBox small-12 medium-12 large-12 columns">
                <h2 class="title"><center>{{title|title}}</center></h2>
                <div class="row">
                    <div class="large-6 columns">
                        <p class="lead">By {{publishedBy}}</p>
                    </div>
                    <div class="large-6 columns">
                        <p class="datePublished">
                            {{publishedAt|date('l, d M Y g:i A')}}
                       </p>
                    </div>
                </div>
                <div class="tags">
                    <h5>Tags: 
                        {% for tag in tags %}    
                            <a href="#">#{{tag}} </a>
                        {% endfor %}
                     </h5>
                </div>    
                
                <div class="render">{{body}}</div>
                <div class="row">
                
                <div class="commentsSec">
                  <h4>Comments <small class="numberComments"></small></h4>
                  <div class="large-6 postCommentArea">
                    <textarea class="commentBody" placeholder="Share Your Thoughts"></textarea>
                    <button id="postComment">Post</button>
                  </div>  
                  <div class="commentsWrap">
                        
                  </div>  
                </div>
                </div>
            </div>
        </div>
    
    </div>
    
    </div>

    
    
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/foundation/foundation.js"></script>
    <script src="/javascripts/foundation/foundation.reveal.js"></script>
    <script src="/javascripts/marked.js"></script>
    <script src="/javascripts/underscore-min.js"></script>
    <script src="/javascripts/toastr.min.js"></script>
    <script src="/javascripts/moment.min.js"></script>
    <script id="comment_template">
        <div class="commentBox">
            <h4> <%= FirstName %> <%= LastName %> <small> <%= time %> </small> </h4> 
            <p>
                <%= commentbody %> 
            </p>
        </div>
    </script>
    <script>
    (function(){
        $('.render').each(function(index,el) {
            var curr = $(el).html().trim();
            var newV = marked(curr);
            $(el).html(newV);
        });

        var loc = window.location.href;
        var id = loc.substring(loc.lastIndexOf('/')+1, loc.length);
        var templateComment = $('#comment_template').html();
        var compiled = _.template(templateComment);
        

        $.get('/api/commentsFromPost/'+id , function(dataR) {
            // console.log(_.sortBy(dataR,'postedAt'));
            $('.numberComments').html(dataR.length);
            $.each(dataR, function(index, data) {
                var el = compiled({
                    FirstName: data.user.first,
                    LastName: data.user.last,
                    time: moment(data.postedAt).fromNow(),
                    commentbody : data.body
                });
                $(el).prependTo('.commentsWrap');
            });
        }); 

        $('#postComment').on('click', function() {
            var body = $(".commentBody").val();
            var toSend = {commentbody:body};
            
            $.post('/api/commentToPost/'+id, toSend, function(data) {
                if(data.error){
                    toastr.error("Error Posting Comment");
                }
                var el = compiled({
                    FirstName: data.user.first,
                    LastName: data.user.last,
                    time: moment(data.postedAt).fromNow(),
                    commentbody : data.body
                });
                $(".commentBody").val("");
                $(el).hide().prependTo('.commentsWrap').slideDown("slow");
            });
        })
        })();
    </script>
	
</body>
</html>