<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vicinity Explorer | SignUp </title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/foundation.min.css">
</head>
<body>

    <div class="row">
        <center>
            <h1>Create An Account</h1>
            <h3>Signup</h3>
        </center>
    </div>
    
    <div class="row">
    <form id="myForm" data-abide="ajax">
       <div class="row">
       <div class="email-id columns large-6 medium-6 small-12">
         <label for="email">Email <span class="hide err-email"></span> </label>
         <input type="email" id="email" name="email" placeholder="Email Address" required>
         <small class="error">An email address is required.</small>
       </div>

       <div class="username columns large-6 medium-6 small-12">
         <label for="username">Username <span class="hide err-username"></span></label>
         <input type="text" id="user-name" name="username" placeholder="Username" required pattern="alpha">
         <small class="error">A valid username is required</small>
       </div>
       </div>
       
       <div class="row"> 
       <div class="password columns large-6 medium-6 small-12">
         <label for="password">Password</label>
         <input type="password" name="password" id="password" required>
         <small class="error">The password did not match Req</small>
       </div>

       <div class="confirm-password columns large-6 medium-6 small-12">
         <label for="password2">Confirm Password</label>
         <input type="password"  name="password2" required data-equalto="password">
         <small class="error">The password did not match</small>
       </div>
       </div>
       
       <div class="row">
       <div class="first-name columns large-6 medium-6 small-12">
         <label for="first">First Name </label>
         <input type="text" name="first" id="firstName" placeholder="First Name" pattern="alpha" required>
         <small class="error">Name is required and must be a string.</small>
       </div>
       <div class="last-name columns large-6 medium-6 small-12">
         <label for="last">Last Name </label>
         <input type="text" name="last" id="lastName"placeholder="Last Name" pattern="alpha" required>
         <small class="error">Name is required and must be a string.</small>
       </div>
       </div>

      <div class="gender large-6 columns">
      <label>Gender</label>
      <input type="radio" name="gender" value="Male"   id="Male" checked><label for="Male">Male</label>
      <input type="radio" name="gender" value="Female" id="Female"><label for="Female">Female</label>
      </div>

      <!-- <div class="birthday columns large-6">
        <div class="row">
        <label for="birthday"  class="large-4 columns">DD</label>
        <label for="birthMonth"  class="large-4 columns">MM</label>
        <label for=""  class="large-4 columns">YYYY</label>
        </div>
        <div class="row">
        <div class="large-3 medium-4 small-4 columns"  > <input type="text" maxlength="2"></div>
        <div class="large-3 medium-4 small-4 columns"  > <input type="text" maxlength="2"></div>
        <div class="large-4 medium-4 small-4 columns"  > <input type="text" maxlength="4"></div>
        </div>
      </div> -->

       <div class="row">
       <div class="location columns large-6 medium-6 small-12">
        <label>Location
        <select name="location">
          <option value="Borivali-East">Borivali-East</option>
          <option value="Borivali-West">Borivali-West</option>
          <option value="Goregaon-East">Goregaon-East</option>
          <option value="Goregaon-West">Goregaon-West</option>
        </select>
        </label>
       </div>
       </div>
       
       <div class="submit">
         <button type="submit">Submit</button>
       </div>

       <div class="row server-error">
         {{serverError}}
       </div>

    </form>
    </div>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/foundation.min.js"></script>
  <script src="/javascripts/foundation/foundation.abide.js"></script>
  <script>
  (function(){
    console.log("ASDSADSADA");
    $('#email').on('blur', function() {
      if(!($('#email').attr('data-invalid')=="")){
        var toSend = {emailAdd : $('#email').val()};
        $.post("/newUserEmail", toSend ,function(data, status){
            if(data.isAvail && data.isValid)
            {
              $('.err-email').css({"color":"#43ac6a"}).show().html("Valid Email");
            }
            else
            { 
              $('.err-email').css({"color":"#f04124"}).show().html("The Email is already registered");
            }
        });  
      }
    });

    $('#user-name').on('blur', function() {
      if(!($('#user-name').attr('data-invalid')=="")){
        console.log("Valid");
        var toSend = {userName : $('#user-name').val()};
        $.post("/newUserName", toSend, function(data, stat) {
          if(data.isAvail && data.isValid)
            {
              console.log("Available");
              $('.err-username').css({"color":"#43ac6a"}).show().html("The Username is available");
            }
            else
            { 
              $('.err-username').css({"color":"#f04124"}).show().html("The Username is Not available");
            } 
        });  
      }
    });


    $('#myForm').on('invalid', function () {
      var invalid_fields = $(this).find('[data-invalid]');
      
    }).on('valid', function (){
      var formdata = {
        email :   $('input[name="email"]').val(),
        username: $('input[name="username"]').val(),
        password: $('input[name="password"]').val(),  
        password2:$('input[name="password2"]').val(),
        name:{
          first: $('input[name="first"]').val(),
          last:  $('input[name="last"]').val()
        },
        gender:   $('input[name="gender"]').val(),
        location: $('select[name="location"]').val()
      };
      console.log(formdata);
      $.post('/signUpUser', formdata, function() {
        console.log("Posted Form");

      });
    });

  })();
  </script>
  <script>
    $(document).foundation();

  </script>

</body>
</html>