viewport { width:device-width; scale:1; }

body{
    
    background-image:url('/images/content/bgl1.png');
}


.major{
	background-image: url('/images/content/car1.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center top;
     
}


@media only screen and (min-width:960px){
    .major{
        height:70vh;
    }
}

@media only screen and (max-width:480px){
    .major{
        height:30vh;
        background-image:url(''/images/content/wheel1.jpg'');
    }
    
}

@media only screen and (max-width:360px){
    .major{
        height:20vh;
        background-image:url(''/images/content/wheel1.jpg'');
        
    }
    
}


@media only screen and (max-width:630px){
    .major{
        height:50vh;
         
    }
}



@media only screen and (min-width:1280px){
    .major{
        height:80vh;
    }
}



